html,
body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    color: white;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
    z-index: 9999999;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.links > a {
    color: #ffffff !important;
    padding: 0 25px;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
}

.carousel {
    overflow: hidden;
}

.text {
    position: absolute;
    top: 50vh;
    color: #fff;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-100px);
}

img {
    height: 100vh;
}

@media screen and (min-width: 728px) {
    #carouselExampleIndicators img {
        width: 100%;
    }
}
